@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from askbootstrap.com/preview/osahanin/light/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 May 2023 15:43:54 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link rel="icon" type="image/png" href="img/fav.png">
    <title>Login - Professionals Connect</title>

    <link rel="stylesheet" type="text/css" href="/assets/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendor/slick/slick-theme.min.css" />

    <link href="/assets/vendor/icons/feather.css" rel="stylesheet" type="text/css">

    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex vh-100">
                <div class="col-md-4 mx-auto">
                    <div class="osahan-login py-4">
                        <div class="text-center mb-4">
                            <a href="index.html"><img src="img/logo.svg" alt></a>
                            <h5 class="font-weight-bold mt-3">Welcome Back</h5>
                            <p class="text-muted">Don't miss your next opportunity. Sign in to stay updated on your professional world.</p>
                            @if (ViewBag.err!=null)
                            {
                                <p class="text-danger">@ViewBag.err</p>
                            }
                        </div>
                        <form asp-action="PostLogin" asp-controller="Account" method="post">
                            <div class="form-group">
                                <label class="mb-1">Email</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-user position-absolute"></i>
                                    <input type="email" name="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">Password</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-unlock position-absolute"></i>
                                    <input type="password" name="password" class="form-control">
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Sign in </button>
                           @* <div class="text-center mt-3 border-bottom pb-3">
                                <p class="small text-muted">Or login with</p>
                                <div class="row">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-sm btn-outline-instagram btn-block"><i class="feather-instagram"></i> Instagram</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-sm btn-outline-linkedin btn-block"><i class="feather-linkedin"></i> Linkedin</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-sm btn-outline-facebook btn-block"><i class="feather-facebook"></i> Facebook</button>
                                    </div>
                                </div>
                            </div>*@
                            <div class="py-3 d-flex align-item-center">
                                @*<a href="forgot-password.html">Forgot password?</a>*@
                                <span class="ml-auto">Don't have account? <a class="font-weight-bold" asp-action="Signup">Join now</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/vendor/jquery/jquery.min.js" type="c24ac2310c45c31f2d87a14b-text/javascript"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="c24ac2310c45c31f2d87a14b-text/javascript"></script>

    <script type="c24ac2310c45c31f2d87a14b-text/javascript" src="/assets/vendor/slick/slick.min.js"></script>

    <script src="/assets/js/osahan.js" type="c24ac2310c45c31f2d87a14b-text/javascript"></script>
</body>

<!-- Mirrored from askbootstrap.com/preview/osahanin/light/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 May 2023 15:43:55 GMT -->
</html>
